<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" >

	<!--写入的目标-->
	<targets async ="true">
		<target xsi:type="File" 
				name="logfile"
				archiveEvery="Hour"
				archiveNumbering="Sequence"
				maxArchiveFiles="9"
				archiveFileName="$D:\Logs\${shortdate}\MVVM_Platform${cached:${date:format=yyyy-MM-dd_HH}}.txt.{#}"
				fileName="D:\Logs\${shortdate}\MVVM_Platform${cached:${date:format=yyyy-MM-dd_HH}}.txt"
				archiveAboveSize="10240"/>
		<target xsi:type="File" 
				name="ViewModellogfile"
				archiveEvery="Hour"
				archiveNumbering="Sequence"
				archiveAboveSize="10240"
				maxArchiveFiles="9"
				archiveFileName="$D:\Logs\${shortdate}\PlatformViewModel${cached:${date:format=yyyy-MM-dd_HH}}.txt.{#}"
				fileName="D:\Logs\${shortdate}\PlatformViewModel${cached:${date:format=yyyy-MM-dd_HH}}.txt" />
		<target xsi:type="File"
			name="Modellogfile"
			archiveEvery="Hour"
			archiveNumbering="Sequence"
			archiveAboveSize="10240"
			maxArchiveFiles="9"
			archiveFileName="$D:\Logs\${shortdate}\Modellogfile${cached:${date:format=yyyy-MM-dd_HH}}.txt.{#}"
			fileName="D:\Logs\${shortdate}\Modellogfile${cached:${date:format=yyyy-MM-dd_HH}}.txt" />


		<!--
		archiveEvery:指日志存档频率
		archiveNumbering：当日志文件达到一定大小或达到一定时间间隔时，nlog会自动创建一个新的日志文件，并将旧的日志文件进行归档。
		archiveAboveSize：设置日志文件达到多大尺寸时进行归档操作
		maxArchiveFiles：用于限定可以保留的归档日志文件的最大数量。
		-->
		<target xsi:type="Console" name="logconsole"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
	</targets>

	<rules>
		<!--name里面填*则所有命名空间（namespace）都会记录，如果是填写具体的，则会只打印对于的命名空间-->
		<!--<logger name="*" minlevel="Trace" writeTo="logfile,logconsole" />-->
		<!--<logger name="MVVM_Platform*" minlevel="Trace" writeTo="logfile" />-->
		<logger name="MVVM_Platform*" minlevel="Trace" writeTo="logfile" />
		<logger name="PlatformViewModel*" minlevel="Trace" writeTo="ViewModellogfile" />
		<logger name="Model*" minlevel="Trace" writeTo="Modellogfile"/>

	</rules>
</nlog>
<!--参考网址https://www.cjavapy.com/article/1953/-->